:root{
  --color-primary : #34c94b;
  --color-black : #121212;
  --color-white : #FFFFFF;
}

*,
*::before,
*::after{
  box-sizing: border-box;
}

*{
  margin: 0;
}

html, body{
  height: 100%;
}

body {
  font-family: 'Poppins','sans-serif';
  background-color: var(--color-black);
  line-height: 1.5;
  color: var(--color-white);
  overflow-x: hidden;
}

img,svg {
  display: block;
  max-width: 100%;
}

.swiper-slide {
  width: auto !important;
}

.MuiTabs-indicator{
  background-color: #34c94b !important;
}

.css-1elwnq4-MuiPaper-root-MuiAccordion-root:first-of-type{
  border-radius: 4px !important;
  margin-bottom: 10px;
}

.css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root{
  /* min-height: 55px !important; */
  /* margin-bottom: 10px !important; */
  background-color: #000 !important;
  color: #fff !important;
  border: 1px solid #fff !important;
  border-radius: 4px !important;
}

.css-1elwnq4-MuiPaper-root-MuiAccordion-root{
  width: 65vw;
}

.css-i4bv87-MuiSvgIcon-root{
  color: #fff !important;
}

.MuiPaper-rounded{
  border-radius: 4px !important;
}