:root{
  --color-primary : #34c94b;
  --color-black : #121212;
  --color-white : #FFFFFF;
}

*,
*::before,
*::after{
  box-sizing: border-box;
}

*{
  margin: 0;
}

html, body{
  height: 100%;
}

body {
  font-family: 'Poppins','sans-serif';
  background-color: var(--color-black);
  line-height: 1.5;
  color: var(--color-white);
  overflow-x: hidden;
}

img,svg {
  display: block;
  max-width: 100%;
}

.swiper-slide {
  width: auto !important;
}

.MuiTabs-indicator{
  background-color: #34c94b !important;
}

/* .css-1elwnq4-MuiPaper-root-MuiAccordion-root:first-of-type{
  border-radius: 4px !important;
  margin-bottom: 10px;
} */

.MuiButtonBase-root{
  border-radius: 4px !important;
  /* border: 1px solid #fff !important; */
  background-color: var(--color-black) !important;
  /* color: #fff !important; */
}

.MuiPaper-root{
  width: 65vw;
  margin-bottom: 10px;
  border: 1px solid #fff !important;
  /* background-color: #000 !important; */
  color: #fff !important; 
}

.MuiSvgIcon-root{
  color: #fff !important;
}

.MuiPaper-rounded{
  border-radius: 4px !important;
}

.MuiCollapse-root{
  background-color: #fff;
  color: #000;
}
